<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments :: head">
</head>
<body>
<div th:replace="fragments :: header"></div>
<div class="content">
    <br>
    <a class="btn btn-primary" href="/recipe" role="button">Powrót do wszystkich przepisów</a><br>
    <h2>Lista składników</h2>
    <br>
    <div class="contentText">
        <h2 class="mt-4" style="text-align: center"> Dodaj nowy składnik </h2>
        <form th:action="|/addIngredients|" method="post" th:object="${ingredient}">
            <div class="mb-3">
                <label for="title" class="form-label">Name</label>
                <input type="text" required class="form-control" id="title" th:field="*{name}">
            </div>
            <select th:field="*{recipe}">
                <option th:each="recipe: ${recipes}" th:text="${recipe.title}" th:value="${recipe.id}"></option>
            </select>
            <p></p>
            <div class="mb-3">
                <button type="submit" class="btn btn-primary mb-3">Dodaj</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>