<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments :: head">
</head>
<body>
<div th:replace="fragments :: header"></div>
<div class="content">
    <br>
    <a class="btn btn-primary" href="/" role="button">Powrót do strony głównej</a>
    <h2>Edycja danych uzytkownika</h2>
    <br>
    <form th:href="|/user/${userToEdit.id}|" method="post" th:object="${userToEdit}">
        <div class="mb-3">
            <label for="email" class="form-label">Mail</label>
            <input type="text" class="form-control" id="email" aria-describedby="inputGroupPrepend2" required
                   th:field="*{email}">
        </div>
        <div class="mb-3">
            <label for="firstName" class="form-label">Imię</label>
            <input type="text" class="form-control" id="firstName" aria-describedby="inputGroupPrepend2" required
                   th:field="*{firstName}">
        </div>
        <div class="mb-3">
            <label for="lastName" class="form-label">Nazwisko</label>
            <input type="text" class="form-control" id="lastName" aria-describedby="inputGroupPrepend2" required
                   th:field="*{lastName}">
        </div>
        <div class="mb-3">
            <button type="submit" class="btn btn-primary mb-3">Zapisz</button>
        </div>
    </form>
</div>
</body>
</html>